.select_area {
  margin-left: 10px;
}
.select_area label {
  display: inline-flex;
  align-items: center;
  color: #404040;
  font-size: 12px;
}

.select_area label::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
}
.select_area label select {
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 12px;
  cursor: pointer;
}
.finished_button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  height: 25px;
  border-radius: 12px;
  background-color: #e0e0e0;
  color: #808080;
  border: solid 0.5px #c0c0c0;
  margin-left: 5px;
}
