@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap");

button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  height: 25px;
  border-radius: 12px;
  background: white;
  color: #404040;
  border: solid 0.5px #c0c0c0;
  margin-left: 5px;
  font-family: "Noto Sans JP", sans-serif;
}
.finished_button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 7px;
  height: 25px;
  border-radius: 12px;
  background-color: #e0e0e0;
  color: #808080;
  border: solid 0.5px #c0c0c0;
  margin-left: 5px;
}

button:hover {
  background-color: #c0c0c0;
}

p {
  font-size: 12px;
  color: #404040;
}

.todo_list {
  border: solid 0.5px #c0c0c0;
  background-color: #fbfbfb;
  width: 330px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 760px) {
    height: auto;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}
h1 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: lighter;
}

.todolist_title {
  display: flex;
}
.add_space {
  margin-left: 5px;
}
.add_text {
  margin-left: 1px;
  input {
    border: solid 0.5px #c0c0c0;
    border-radius: 2px;
    width: 175px;
    font-size: 10px;
    height: 20px;
    margin-right: 5px;
  }
}

.category_urgent {
  background-color: #eaeaff;
  margin: 5px 10px 5px 5px;
  width: 320px;
  height: 190px;
  overflow: scroll;
  border-radius: 4px;
  @media screen and (max-width: 760px) {
    width: 250px;
  }
  .subtitle {
    background-color: #eaeaff;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 760px) {
      font-size: 10px;
    }
  }
  .card {
    border: solid 0.5px #c0c0c0;
    background-color: #fcf9ff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
      width: 230px;
    }
  }
  .requested {
    border: solid 0.5px #c0c0c0;
    background-color: #ccccff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
    }
  }
  .first_row {
    display: flex;
    margin-top: 5px;
  }
}

.category_morning {
  background-color: #ffeaff;
  margin: 5px 10px 5px 5px;
  width: 320px;
  height: 190px;
  overflow: scroll;
  border-radius: 4px;
  @media screen and (max-width: 760px) {
    width: 250px;
  }
  .subtitle {
    background-color: #ffeaff;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 760px) {
      font-size: 10px;
    }
  }
  .card {
    border: solid 0.5px #c0c0c0;
    background-color: #fff9ff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 3px 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
      width: 230px;
    }
  }
  .requested {
    border: solid 0.5px #c0c0c0;
    background-color: #ffe5ff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
    }
  }
  .first_row {
    display: flex;
    margin-top: 5px;
  }
}

.category_afternoon {
  background-color: #eaf4ff;
  margin: 5px 10px 5px 5px;
  width: 320px;
  height: 190px;
  overflow: scroll;
  border-radius: 4px;
  @media screen and (max-width: 760px) {
    width: 250px;
  }
  .subtitle {
    background-color: #eaf4ff;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 760px) {
      font-size: 10px;
    }
  }
  .card {
    border: solid 0.5px #c0c0c0;
    background-color: #f9fcff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 3px 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
      width: 230px;
    }
  }
  .requested {
    border: solid 0.5px #c0c0c0;
    background-color: #cce5ff;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px 10px;
    @media screen and (max-width: 760px) {
      height: 75px;
    }
  }
  .first_row {
    display: flex;
    margin-top: 5px;
  }
}
