.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container {
  width: 20%;
  height: 40%;
  padding: 1em;
  text-align: center;
  background-color: #fbfbfb;
  margin: 5px 10px 5px 5px;

  overflow: hidden;
  border-radius: 4px;
}

.modal_content {
  text-align: left;
}

.modal_close_button {
  margin-top: 50px;
}

.edit_button_area {
  text-align: right;
}

.edit_date {
  display: flex;
  height: 30px;
}
.edit_date input {
  height: 20px;
  width: 120px;
  margin-top: 10px;
  font-size: 12px;
  border: solid 0.5px #c0c0c0;
  border-radius: 2px;
  color: #404040;
}
.edit_date button {
  margin-top: 8px;
  margin-left: 10px;
}

.edit_title {
  display: flex;
}

.edit_time {
  display: flex;
  height: 30px;
}

.edit_time label {
  display: inline-flex;
  align-items: center;
  color: #404040;
  font-size: 12px;
}

.edit_time label::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7%;
  background-color: #535353;
  pointer-events: none;
}

.edit_time button {
  margin-top: 7px;
}

.time_p {
  margin-left: 3px;
  margin-right: 3px;
}

.select_time {
  font-size: 12px;
  margin-left: 0;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 12px;
  cursor: pointer;
  width: 35px;
  height: 21px;
}

.edit_title input {
  margin-top: 8px;
  height: 13px;
  font-size: 12px;
  border: solid 0.5px #c0c0c0;
  border-radius: 2px;
  height: 20px;
  width: 120px;
  color: #404040;
}
.edit_title button {
  margin-top: 8px;
  margin-left: 10px;
}
