.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container {
  width: 20%;
  height: 45%;
  padding: 1em;
  background-color: white;
  text-align: center;
}

.modal_content {
  text-align: left;
}

.modal_close_button {
  margin-top: 50px;
}

.edit_button_area {
  text-align: right;
}

.edit_area {
  float: left;
  .input_area {
    margin-top: 15px;
  }
  .button {
    margin-top: 30px;
  }
}

.edit_date {
  display: flex;
  .input {
    height: 20px;
    width: 30px;
    margin-top: 15px;
  }
  .date_input {
    height: 20px;
    width: 120px;
    margin-top: 15px;
  }
  .date_select_button {
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .date_and_time_select_button {
    height: 25px;
    margin-left: 77px;
    margin-top: 15px;
  }
  .select {
    height: 25px;
    margin-top: 18px;
    width: 40px;
  }
}

.edit_title {
  .title_select_button {
    margin-left: 10px;
  }
}
